<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>coolplay</name>
    <displayName><![CDATA[CoolPlay - Vidéos produits]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Vidéos YouTube ou MP4 dans la galerie produit, sans impact sur la vitesse : façade click-to-load (aucun iframe au chargement) et données structurées VideoObject pour le SEO.]]></description>
    <author><![CDATA[ZM40]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <confirmUninstall>Etes-vous sûr de vouloir désinstaller CoolPlay ?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
